# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

/tmp
/out-tsc
dist/
target/

# dependencies
database
database/
build/
node_modules/
database/
Projects/External/Jeff/admin-ng/package.json
Projects/External/Jeff/client-alpha/package.json
Projects/External/Jeff/writer-ng/package.json
Projects/Internal/writing-platform/showcase/docker-images/writing-platform-portal/apps

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
*.bin
python-projects/edusson-datascience-assignment/data/

# e2e
*.war

